# Exclude from Composer distribution
/.github               export-ignore
/tests                 export-ignore
/reports               export-ignore
/.gitignore            export-ignore
/.gitattributes        export-ignore
/.dockerignore         export-ignore
/Dockerfile            export-ignore
/docker-compose.yml    export-ignore
/Makefile              export-ignore
/bootstrap.php         export-ignore
/phpunit.xml           export-ignore
/.qa/ecs/ecs.php        export-ignore
/.qa/phpstan/phpstan.neon export-ignore
/.qa/infection/infection.json5 export-ignore
/.qa/psalm/psalm.xml    export-ignore
/.qa/rector/rector.php  export-ignore
/.qa/deptrac/deptrac.yaml export-ignore
/.qa/deptrac/deptrac.baseline.yaml export-ignore
/Report.md             export-ignore
/ToDo.md               export-ignore
/.phpunit.result.cache export-ignore
