parameters:
    level: 7
    paths:
        - src
    ignoreErrors:
        - '#Call to an undefined static method .*::cases\(\)#'
        - '#Call to an undefined method ReflectionType::isBuiltin\(\)#'
        - '#no value type specified in iterable type array#'
        - '#has parameter .* with generic class ReflectionClass but does not specify its types#'